<h1>Northside CPAC May Goals</h1>


<h2>Table Staff Per Ward</h2>

<div class="staff-chart-container">
  <canvas id="staff-chart"></canvas>
</div>


<h2>Point People</h2>

<table>
  <thead>
    <tr>
      <th>Ward</th>
      <th>Table Owners</th>
      <th>Business Liaisons</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="">48th</td>
      <td class="success">
        Katie Gilbert
      </td>
      <td class="warning"></td>
    </tr>
    <tr>
      <td class=""></td>
      <td class="warning">Mark Maxwell</td>
      <td class="warning"></td>
    </tr>
    <tr>
      <td class="">49th</td>
      <td class="success">Hollian Wint</td>
      <td class="warning"></td>
    </tr>
    <tr>
      <td class=""></td>
      <td class="warning">&nbsp;</td>
      <td class="warning"></td>
    </tr>
  </tbody>
</table>

<h2>Postcards Collected</h2>
<div class="postcard-chart-container">
  <canvas id="postcard-chart"></canvas>
</div>

<h2>New Volunteers</h2>
<div class="new-volunteer-chart-container">
  <canvas id="new-volunteer-chart"></canvas>
</div>

<script type="text/javascript">



  var colors = {
    backgroundColor: {
      '48': 'rgba(54, 162, 235, 0.2)',
      '49': 'rgba(75, 192, 192, 0.2)',
    },
    borderColor: {
      '48': 'rgba(54, 162, 235, 1)',
      '49': 'rgba(75, 192, 192, 1)'
    }
  };

<% [
  ['staff-chart', @table_staff_by_ward],
  ['postcard-chart', @postcards_by_ward],
  ['new-volunteer-chart', @new_volunteers_by_ward],
].each do |chart_id, data_by_ward| %>
  var ctx = document.getElementById("<%= chart_id %>");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: <%= @labels.to_json.html_safe %>,
      datasets: [
        <% data_by_ward.each do |ward, data| %>
          {
            label: '<%= ward %>th',
            data: <%= data %>,
            backgroundColor: colors['backgroundColor'][<%= ward %>],
            borderColor: colors['borderColor'][<%= ward %>],
            lineTension: 0
          },
        <% end %>
      ],
      borderWidth: 1,
    },
    options: {
      scales: {
        yAxes: [{
          stacked: false,
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });
<% end %>
</script>


