<%= link_to "&laquo; Back to #{h @table_event.table_location.name} table".html_safe, @table_event.table_location %>

<h1><%= @table_event.table_location.name %> Table - <%= @table_event.starts_at.strftime("%b %-d %Y") %></h1>

<p>
  <strong>Time:</strong>
  <%= @table_event.starts_at.to_s(:short_timestamp) %> - <%= @table_event.ends_at.to_s(:short_time) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @table_event.status %>
</p>

<% if @table_event.past? %>
  <p>
    <strong>Postcards collected:</strong>
    <%= @table_event.postcards_collected %>
  </p>

  <p>
    <strong>Volunteers collected:</strong>
    <%= @table_event.volunteers_collected %>
  </p>

  <p>
    <strong>Volunteers attended:</strong>
    <%= @table_event.volunteers_attended %>
  </p>
<% end %>

<h2>Staff</h2>

<table>
  <thead>
    <tr>
      <th>RSVP</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @table_event.attendees.sort_by{ |a| a.volunteer.full_name }.each do |attendee| %>
      <% volunteer = attendee.volunteer %>
      <tr>
        <%= form_for attendee do |f| %>
          <td>
            <%= f.select :rsvp, %w{yes no maybe} %>
          </td>
          <td><%= volunteer.full_name %></td>
          <td><%= volunteer.email %></td>
          <td><%= format_phone_number volunteer.phone_number %></td>
          <td><%= f.submit "Update RSVP" %></td>
          <td><%= link_to 'delete', attendee, method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <%= form_for @table_event.attendees.build do |f| %>
        <%= f.hidden_field :event_type %>
        <%= f.hidden_field :event_id %>
        <td><%= f.select :rsvp, %w{yes no maybe} %></td>
        <td><%= f.select :volunteer_id, (Volunteer.all - @table_event.volunteers).collect{ |v| [v.full_name, v.id] } %></td>
        <td></td>
        <td></td>
        <td><%= f.submit "Add" %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<h2>Contact Shortcuts</h2>

<%= link_to "Start a new email to all attendees", "mailto:#{@table_event.volunteers.collect(&:email).select(&:present?).join(",")}" %>
<br><br>
<%= link_to "Email me everyone's contact info", send_contact_details_table_event_path(@table_event), method: :post %>
<br><br>
<%= @table_event.volunteers.collect(&:email).select(&:present?).join(",") %>
<br><br>
<%= @table_event.volunteers.collect(&:phone_number).select(&:present?).join(",") %>

