<%= link_to "&laquo; Back to all tables".html_safe, table_locations_path %>

<h1><%= @table_location.name %> Table Details</h1>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @table_location.latitude %>,<%= @table_location.longitude %>&markers=color:red|<%= @table_location.latitude %>,<%= @table_location.longitude %>&zoom=16&size=400x200&key=AIzaSyDK26Uc4UI8DtC3xfErJ_ImXKPoJAHceh4">

<br><br>

<p>
  <strong>Time:</strong>
  <%= @table_location.starts_at.strftime("%As %-I:%M%P") %> - <%= @table_location.ends_at.to_s(:short_time) %>
</p>

<br>

<p>
  <strong>Ward:</strong>
  <%= @table_location.ward %>
</p>

<p>
  <strong>Status:</strong>
  <%= @table_location.status %>
</p>

<br>

<p>
  <strong>Total Postcards:</strong>
  <%= @table_location.postcards_collected %>
</p>

<p>
  <strong>Total New Volunteers:</strong>
  <%= @table_location.volunteers_collected %>
</p>


<h2>Upcoming Table Events</h2>

<table>
  <thead>
    <tbody>
      <tr>
        <th></th>
        <th colspan='3'>Staff RSVP</th>
      </tr>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>YES</th>
        <th>MAYBE</th>
        <th>NO</th>
      </tr>
    </tbody>
  </thead>
<% @upcoming_events.each do |event| %>
  <tr class="risk-<%= event.risk %>">
    <td>
      <%= link_to event do %>
        <%= event.starts_at.to_s(:short_timestamp) %> - <%= event.ends_at.to_s(:short_time) %>
      <% end %>
    </td>
    <td><%= event.status %></td>
    <td><%= event.attendees.yes.count %></td>
    <td><%= event.attendees.maybe.count %></td>
    <td><%= event.attendees.no.count %></td>
  </tr>
<% end %>
</table>

<h2>Recent Table Events</h2>

<table>
  <thead>
    <tbody>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Staff</th>
        <th>Postcards</th>
        <th>Potential Volunteers</th>
      </tr>
    </tbody>
  </thead>
<% @recent_events.each do |event| %>
  <tr>
    <td>
      <%= link_to event do %>
        <%= event.starts_at.to_s(:short_timestamp) %> - <%= event.ends_at.to_s(:short_time) %>
      <% end %>
    </td>
    <td><%= event.status %></td>
    <td><%= event.attendees.yes.count %></td>
    <td><%= event.postcards_collected %></td>
    <td><%= event.volunteers_collected %></td>
  </tr>
<% end %>
</table>
