<p>
  <strong>Name:</strong>
  <%= @table_location.name %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @table_location.ward %>
</p>

<p>
  <strong>Status:</strong>
  <%= @table_location.status %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @table_location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @table_location.longitude %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @table_location.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @table_location.ends_at %>
</p>

<%= link_to 'Edit', edit_table_location_path(@table_location) %> |
<%= link_to 'Back', table_locations_path %>
