<!DOCTYPE html>
<html>
  <head>
    <title>Northside</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
      <div class="main">
        <header>
          <%= link_to root_path, class: "logo" do %>
            <%= image_tag "logo_hands.png" %> CPAC Tools
          <% end %>

            <ul>
              <% if user_signed_in? %>
                <li><%= link_to "Tables", table_locations_path %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li>
                  <%= link_to "Sign In", new_user_session_path %>
                </li>
              <% end %>
            </ul>
        </header>

        <%= render "layouts/messages" %>

        <div class="content">
          <%= yield %>
        </div>

        <footer>
          &copy; <%= Time.now.year %> CAARPR
        </footer>
      </div>
    </div>

  </body>
</html>
